<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: </b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>Identify commonly used libraries used by Data Scientists</li>
    <li>List the development environment open source tools used</li>
    <li>Explore examples of evaluating arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
    <li>Scala</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Matplotlab</li>
    <li>scikit-learn</li>
</ol>

This table indicates the development environment open source tools used in data science:
<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Visual Studio Code</td>
    </tr>
    <tr>
        <td>Spyder</td>
    </tr>
    <tr>
        <td>Google Colab</td>
    </tr>
    <tr>
        <td>JupyterLab Notebook</td>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>  
    </tr>
    
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60 
hours

3.3333333333333335

<h2>Author</h2>
<a href="https://www.linkedin.com/in/taoufikbenlhosni/"> Taoufik BEN LHOSNI